<!DOCTYPE html>
<html ng-app>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<title>NG Model</title>
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<script src="js/lib/angular.min.js"></script>
</head>
<body>
	<div class="container">
		<h1>ng-model</h1>
		<hr>

		<p>
			Name: {{ name | uppercase }} <br>
			<input ng-model="name" type="text" class="form-control" placeholder="Enter your name">
		</p>

		<p>
			Select a country: {{ country }}
			<select ng-model="country" class="form-control">
				<option value="1">Colombia</option>
				<option value="2">Argentina</option>
				<option value="3">México</option>
			</select>
		</p>

		<p>
			Select the options: <br>
			
			<input type="checkbox" ng-model="opt1"> Option 1: {{ opt1 }}
			<br>
			<input type="checkbox" ng-model="opt2"> Option 2: {{ opt2 }}
		</p>

		<p>
			Select a gender: {{ gender }} <br>

			<input ng-model="gender" type="radio" value="M"> Male
			<br>
			<input ng-model="gender" type="radio" value="F"> Female
		</p>

		<hr>

		<section>
			<h2>Evaluation</h2>

			<div>
				<label>Full name:</label> <br>
				<input type="text" ng-model="fullname" class="form-control" autofocus>
			</div>

			<div>
				<label>Workplace:</label> <br>
				<input type="text" ng-model="workplace" class="form-control">
			</div>

			<div>
				<label>Salary in dollars:</label> <br>
				<input type="text" ng-model="salary" class="form-control">
			</div>

			<hr>

			<div>
				<p>
					<strong>Name:</strong> {{ fullname | uppercase }}
				</p>
				<p>
					<strong>Workplace:</strong> {{ workplace | lowercase }}
				</p>
				<p>
					<strong>Salary:</strong> {{ salary | currency:'$' }}
				</p>
			</div>

		</section>
	</div>
</body>
</html>