<!DOCTYPE html>
<html ng-app="universityApp">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Exercise 02 - App, controllers and scope.</title>

    <link rel="stylesheet" href="css/bootstrap.min.css">
    <script src="js/lib/angular.min.js"></script>
    <script src="js/app.js"></script>
</head>

<body>
    <div class="container" ng-controller="teacherCtrl">
        <h1>Teacher</h1>
        <h4>{{ teacher.name }}</h4>
        <hr>

        <div class="row">
            <!-- Teacher image -->
            <div class="col-sm-3">
                <section class="panel">
                    <div class="panel-body" align="center">
                        <img ng-src="{{ teacher.image }}" class="img-circle" alt="" width="150px" height="150px">
                    </div>
                </section>
            </div>

            <!-- Teacher data -->
            <div class="col-sm-9">
                <section class="panel">
                    <div class="panel-body">
                            {{ teacher.bio }}
                        <br>
                        <br>
                        <strong>Age:</strong> {{ teacher.age }} years old <br> <br>
                        <button class="btn btn-primary" ng-click="editTeacher()">Edit</button>
                    </div>
                </section>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-8">
                <section class="panel">
                    <div class="panel-body">
                        Name:
                        <input ng-model="edit.name" type="text" class="form-control"> <br>

                        Age:
                        <input ng-model="edit.age" type="text" class="form-control"> <br>

                        Bio:
                        <textarea ng-model="edit.bio" rows="8" class="form-control"></textarea> <br>

                        <button class="btn btn-primary" ng-click="save()">Save</button> 
                        <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
                    </div>
                </section>
            </div>
        </div>
    </div>
</body>

</html>